.container {
  display: inline-block;
  position: relative;
  // border: 1px solid black;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 2px;  
  background-color: transparent;
  cursor: pointer;
  transition: transform 900ms ease;
  transform-style: preserve-3d;
  
  .backSide,
  .frontSide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .frontSide {
    align-items: center;
    display: flex;
    justify-content: center;
    // border: 1px solid #02b3ff;
    border-radius: 5px;

    ion-icon {
      width: 50%;
      height: 50%;
    }
  }

  .backSide {
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.5s;

    &::before {
      content: '';
      position: absolute;
      background-color: red;
      border-radius: 5px;
      inset: 1%;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      height: 140%;
      width: 40px;
      // background: linear-gradient(50deg, #2a5a3b, #1e4886);

      background: linear-gradient(50deg, #82dba2, #1d6add);
      transform: rotate(45deg) translate(-180%, -20%);
      z-index: 1;
    }

    &:hover::after {
      animation: hover-animate 1.9s ease;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .frontSide {
    background-color: #2dd92a;
    transform: rotateY(180deg);
  }

}

.open {
  transform: rotateY(180deg) scale(1.1);
}

.matched {
  transition: filter 500ms linear;

  & .frontSide {
    filter: brightness(0.5);
  }
}

@keyframes hover-animate {
  100% {
    transform: rotate(45deg) translate(180%, -20%);
  }
}