.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .board {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    align-items: center;
  }
}