<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-banner home-banner-1">
    <h1 class="title">Basic CSS Parallax</h1>
  </div>
  <div class="home-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam doloribus culpa nihil eveniet excepturi quis quisquam recusandae vero esse. Qui officiis omnis quibusdam repellendus hic adipisci rem labore minima?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
  </div>

  <div class="home-banner home-banner-2"></div>

  <div class="home-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A amet aliquid consequuntur recusandae labore quos officiis, rerum dignissimos ex natus minus repellendus possimus sint ipsa earum dolorem deleniti nostrum omnis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
  </div>

  <div class="home-banner home-banner-3"></div>

  <div class="home-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A amet aliquid consequuntur recusandae labore quos officiis, rerum dignissimos ex natus minus repellendus possimus sint ipsa earum dolorem deleniti nostrum omnis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta velit asperiores et quis deleniti, id ex. Tenetur iste magnam beatae non cumque ut sapiente, autem modi officia, doloribus nam eveniet.
  </div>
</body>
</html>